.hack {
  border: 1px solid skyblue;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.hack img {
  width: 100%;
}
/* smaller device */
@media screen and (max-width:576px){
  .container{

    grid-template-columns: repeat(1,1fr);

  }
}